<h1>{{book.titulo}}</h1>
        <ul>
            <li><strong>Autor: </strong>{{ book.autor.name}}</li>
            <li><strong>Editorial: </strong>{{ book.editorial}}</li>
            <li><strong>Paginas: </strong>{{ book.paginas}}</li>
            {% if book.colection %}
                <li><strong>colection: </strong>{{ book.colection.name}}</li>
            {% endif %}
            

        </ul>