<h1><a href="http://127.0.0.1:8080/book/{{book.id}}">{{book.titulo}}</a></h1>
        <ul>
            <li><strong>Autor: </strong>{{ book.autor.name}}</li>
            <li><strong>Editorial: </strong>{{ book.editorial}}</li>
            <li><strong>Paginas: </strong>{{ book.paginas}}</li>
            {% if book.colection %}
                <li><strong>colection: </strong>{{ book.colection.name}}</li>
            {% endif %}
            

        </ul>