<h1>{{book.titulo}}</h1>
        <ul>
            <li><strong>Autor: </strong>{{ book.autor.name}}</li>
            <li><strong>Editorial: </strong>{{ book.editorial}}</li>
            <li><strong>Paginas: </strong>{{ book.paginas}}</li>
            {% if book.colection %}
                <li><strong>colection: </strong>{{ book.colection.name}}</li>
            {% endif %}

            {% if book.file %}
                <img src="{{ asset('images/index/' ~ book.file) }}" alt="portada" heigh="200px" width="200px" />
            {% endif %}
            

        </ul>